<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=480, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>Home</title>
		<!-- Bootstrap Styles-->
		<link href="assets/css/bootstrap.css" rel="stylesheet" />
		<!-- FontAwesome Styles-->
		<link href="assets/css/font-awesome.css" rel="stylesheet" />
		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
		<!-- Custom Styles-->
		<link href="assets/css/custom-styles.css" rel="stylesheet" />
		<style type="text/css">
			#wrapper{
				min-width: 480px;
			}
			#graph1,
			#graph2,
			#graph3 {
				padding-top: 20px;
				width: 100%;
				height: 400px;
				margin: 10px;
				display: inline-block;
			}
			
			#graph4 {
				padding-top: 20px;
				width: 100%;
				height: 400px;
				margin: 10px;
				display: inline-block;
			}
			
			.my_li_class {
				list-style: none;
				font-size: 16px;
				margin: 3px;
			}
			
			.my_li_class:hover {
				color: #008ACD;
				font-weight: 700;
				animation: ease-in 1s;
			}
			
			.question_panel {
				padding: 10px;
				background: rgb(249, 249, 249);
				margin-top: 33px;
			}
			
			.question {
				font-weight: 900;
				font-size: 1.15em;
				margin-left: 10px;
				color: rgb(0, 138, 205);
				line-height: 25px;
			}
			
			.answer_panel {
				padding: 10px;
				background: white;
			}
			
			.answer {
				font-size: 1.15em;
				margin-left: 5px;
				line-height: 25px;
			}
			/*#aaa [class*="col-"]{
				margin-bottom: -90px;
			    padding-bottom: 90px;
			}*/
			.panel-heading-margin-style{
				margin-left: 10px;
			}
			.panel-body-margin-style{
				padding-right: 60px; padding-left: 60px;
			}
			.el-form-item__label{
				width: 120px;
			}
			.el-form-item__content{
				margin-left: 120px;
			}
			
			
			@media only screen and (max-width: 800px) {
				#page-wrapper .page-header {
					margin-top: 40px;
				}
				.panel-heading-margin-style{
					margin-left: 0px;
				}
				.panel-body-margin-style{
					padding-right: 45px; padding-left: 45px;
				}
				.el-form-item__label{
					text-align: left;
				}
				.el-form-item__content{
					margin-left: 0;
				}
				.el-dialog{
					width: 90%;
				}
				
			}
		</style>
	</head>

	<body>
		<div id="wrapper">
			<nav class="navbar navbar-default top-navbar" role="navigation">
	            <div class="navbar-header">
	                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
	                    <span class="sr-only">切换导航</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                </button>
	                <a class="navbar-brand" href="index.html"><i class="fa fa-gear"></i> <strong>智能小吴后台系统</strong></a>
	            </div>
	
	            <ul class="nav navbar-top-links navbar-right">
	                <li class="dropdown">
	                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
	                        <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
	                    </a>
	                    
	                    <ul class="dropdown-menu dropdown-alerts">
	                        <li>
	                            <a href="#">
	                                <div>
	                                    <i class="fa fa-comment fa-fw"></i> 消息
	                                </div>
	                            </a>
	                        </li>
	                    </ul>
	                </li>
	                <!-- ↑ dropdown 铃铛下拉框 -->
	                <li class="dropdown">
	                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
	                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
	                    </a>
	                    <ul class="dropdown-menu dropdown-user">
	                        <li><a href="#"><i class="fa fa-user fa-fw"></i> 操作者概况</a>
	                        </li>
	                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> 设置</a>
	                        </li>
	                        <li class="divider"></li>
	                        <li><a href="javascript:void(0);" onclick="localStorage.setItem('account',null); window.location.href = './login.html'"><i class="fa fa-sign-out fa-fw"></i> 登出</a>
	                        </li>
	                    </ul>
	                </li>
	                <!-- ↑ dropdown-user 人头下拉框 -->
	            </ul>
	        </nav>
	        <!-- ↑ NAV TOP 顶部导航 -->
	        <nav class="navbar-default navbar-side" role="navigation">
				<div id="sideNav" href=""><i class="fa fa-caret-right"></i></div>
	            <div class="sidebar-collapse">
	                <ul class="nav" id="main-menu">
	                	<li><a href="#"></a></li>
	                    <li><a href="index.html"><i class="fa fa-dashboard"></i> 用户数据分析</a></li>
	                    <li><a href="stdquestions.html"><i class="fa fa-edit"></i> 查看标准问题及答案</a></li>
	                    <li><a href="dialoghistory.html"><i class="fa fa-users"></i> 查看用户对话记录</a>
	                    <li><a href="comquestion.html"><i class="fa fa-question"></i> 常见问题与解答</a></li>
	                </ul>
	            </div>
	        </nav>
	        <!-- ↑ NAV SIDE 侧边导航 -->
			<div id="page-wrapper">
				<div id="page-inner">

					<div class="row">
						<div class="col-md-12">
							<h1 class="page-header" style="border-left: rgba(0,0,0,0.37) double 6px; padding-left: 20px;">
                        	操作者概况 <small> <br>管理员后台系统个人信息修改</small>
                        </h1>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12 col-md-8">
							<div class="panel panel-default">
								<div class="panel-heading panel-heading-margin-style">
	                            	管理员基本信息
	                            </div> 
								<div class="panel-body panel-body-margin-style">
									<el-form ref="form" :model="form" label-width="100px" label-position="left" size="small">
										<el-form-item label="账号">
									 		<el-input v-model="form.id" disabled="true"></el-input>
										</el-form-item>
										<el-form-item label="密码"><!--只有修改按钮，点击对密码进行修改-->
									 		<el-button type="primary" style="background: rgb(0, 138, 205);" @click="dialogFormVisible = true">修改密码</el-button>
										</el-form-item>
										<el-form-item label="注册时间">
									 		<el-input v-model="form.createtime" disabled="true"></el-input>
										</el-form-item>
										<el-form-item label="邮箱">
									 		<el-input v-model="form.email"></el-input>
										</el-form-item>
										<el-form-item label="QQ">
									 		<el-input v-model="form.qq"></el-input>
										</el-form-item>
										<el-form-item label="微信">
									 		<el-input v-model="form.wx"></el-input>
										</el-form-item>
										<el-form-item label="个人签名">
									 		<el-input v-model="form.signal"></el-input>
										</el-form-item>
										<el-form-item id="btn-group">
										    <el-button type="primary" style="background: rgb(0, 138, 205);" @click="modifyInfo">立即修改</el-button>
										    <el-button type="info" @click="resetInfo">重置</el-button>
										</el-form-item>
									</el-form>
								</div>
							</div>
							<el-dialog title="修改密码" :visible.sync="dialogFormVisible">
								<el-form :model="form2">
									<el-form-item label="原始密码">
										<el-input type="password" v-model="form2.origin" autocomplete="off"></el-input>
									</el-form-item>
									<el-form-item label="修改密码" >
										<el-input type="password" v-model="form2.modify" autocomplete="off"></el-input>
									</el-form-item>
									<el-form-item label="确认修改密码">
										<el-input type="password" v-model="form2.confirm" autocomplete="off"></el-input>
									</el-form-item>
								</el-form>
								<div slot="footer" class="dialog-footer">
									<el-button @click="dialogFormVisible = false">取 消</el-button>
									<el-button type="primary" @click="modifyPwd">确 定</el-button>
								</div>
							</el-dialog>
						</div>
						<div class="col-sm-12 col-md-4">
							<div class="panel panel-default">
								<div class="panel-heading panel-heading-margin-style">
                                	头像上传：
	                            </div> 
								<div class="panel-body">
									<div style="text-align: center;">
										<!--img src="assets/img/admin_face.jpg" width="150px" height="150px" style="border: solid rgb(230,230,230) 1px;"/-->
										<img :src="form.img" id="img3" width="150px" height="150px" style="border: solid rgb(230,230,230) 1px;" />
									</div>
									<div style="margin: 10px;">
										<!--<input type="file" style="display: inline-block;"/>
										<el-button type="info" @click="" size="small" style="float: right; margin-bottom: 10px;">上传</el-button>
										-->
										<div id="imgPreview">
											<div id="prompt3">
												<form id="img_form" action="" method="post" enctype="multipart/form-data">
													<input type="file" id="file" name='image' class="filepath" onchange="changepic(this)" accept="image/jpg,image/jpeg,image/png,image/PNG">
													<!--当vaule值改变时执行changepic函数，规定上传的文件只能是图片-->
												</form>
												<el-button type="info" @click="uploadImg" size="small" style="float: right; margin-bottom: 10px;">上传</el-button>
											</div>
										</div>
									</div>
									

									
								</div>
							</div>
						</div>
					</div>

					<footer>
						<p>Copyright &copy; 2019.智能小吴开发团队<br/>All rights reserved.</p>
					</footer>
				</div>
				<!-- PAGE INNER 主页面 -->
	        </div>
	        <!-- PAGE WRAPPER 整体布局 -->
	    </div>
	    <!-- 引用文件  -->
		<script src="assets/js/vue-2.4.0.js"></script>
		<script src="assets/js/jquery-1.10.2.js"></script>
		<!--<script src="assets/js/jquery.form.js"></script>-->
		<script src="assets/js/bootstrap.min.js"></script>
		<script src="assets/js/jquery.metisMenu.js"></script>
		<script src="https://unpkg.com/element-ui/lib/index.js"></script>
		<script src="assets/js/custom-scripts.js"></script>
		<script>
			function page_init() {
				if(localStorage.getItem("account") == null || localStorage.getItem("account") == "null") {
					alert("您尚未登录系统，请先登录系统再对系统进行操作！")
					window.location.href = "./login.html";
				}
			}
			//page_init();
			var f;
			
			//通过vue，实现data数据的绑定
			var tbapp = new Vue({
				el: '#page-wrapper',
				data: {
					id: "",
					form: {id:"",createtime:"",email:"",qq:"",wx:"",signal:"",img:"assets/img/admin_face.jpg"},
					rawData: {id:"admin",createtime:"2019-05-28 20:13:11", email:"31601365@stu.zucc.edu.cn", qq:"31601365", wx:"31601365", signal:"这个人很懒，没有任何个人留言！"},
					dialogFormVisible: false,
					formLabelWidth: '120px',
					form2: {origin:"",modify:"",confirm:""}
				},
				methods: {
					//修改个人信息
					modifyInfo: function(){
						var _self = this;
						var form = this.form;
						form.id = this.rawData.id;
						
						$.post("http://106.14.139.129:3456/user/update",form,function(result){
							result = JSON.parse(result)
							if(result.code == 0){
								_self.$message({
									type: 'success',
									message: '修改基本信息成功！'
								});	
							}else{
								_self.$message({
									type: 'info',
									message: '操作错误'
								});	
							}
						});
					},
					//修改密码
					modifyPwd: function(){
						var _self = this;
						var mod_form = _self.form2;
						mod_form.id = _self.form.id;
						if(_self.form2.modify != _self.form2.confirm){
							_self.$message({
								type: 'info',
								message: '确认密码和修改密码不一致！'
							});				
							return ;
						}
						
						$.post("http://106.14.139.129:3456/user/login",{id:_self.form.id,passwd:_self.form2.origin},function(result){
							result = JSON.parse(result)
							if(result.code == 0){
								if(result.successlogin == 1){
									console.log(result)
									var that = _self;
									var mod_form = _self.form2;
									$.post("http://106.14.139.129:3456/user/update/pwd", mod_form, function(result) {
										console.log(result);
										result = JSON.parse(result);
										if(result.code == 0) {
											_self.$message({
												type: 'success',
												message: '修改成功！'
											});		
										} else {
											_self.$message({
												type: 'info',
												message: result.msg
											});
										}
									});
									
								}else{
									_self.$message({
										type: 'info',
										message: '原始密码错误'
									});	
								}
							}else{
								_self.$message({
									type: 'info',
									message: '操作错误'
								});	
							}
						});
					},
					//重置个人信息（把个人信息的值恢复到原来的值）
					resetInfo: function(){
						var _self = this;
						_self.form.id = _self.rawData.id;
						_self.form.createtime = _self.rawData.createtime;
						_self.form.email = _self.rawData.email;
						_self.form.qq = _self.rawData.qq;
						_self.form.wx = _self.rawData.wx;
						_self.form.signal = _self.rawData.signal;							
					},
					//提交图片信息
					uploadImg: function() {
						var _self = this;
						//console.log(123);return;
						// 图片更改后异步提交表单上传服务器，返回url
						console.log("上传图片请求：")
						var form = $("#img_form");
						var formData = new FormData();
						formData.append("username", this.form.id);
						if(f != null){
							formData.append("image", f);
						}
						console.log(formData.get("username"))
						$.ajax({
			                url: "http://106.14.139.129:3456/user/avatar/update",//请求的url地址
			                type: 'post',//设置请求的http方式，method也可以
			                data: formData,
			                async: true,
			                processData: false,
			                contentType: false,
			                success: function (data, textStatus, jqXHR) {//请求成功之后执行的回调函数
			                   console.log(data);
			                   console.log(textStatus);
			                   console.log(jqXHR);
			                    _self.$message({
									type: 'success',
									message: '上传头像成功！'
								});
			                },
			                error: function (jqXHR, textStatus, errorThrown) {//请求失败之后执行的回调函数
			                    console.log(errorThrown);
			                    _self.$message({
									type: 'info',
									message: '上传头像失败'
								});
			                }
			            });
			            /*
						$.post("http://106.14.139.129:3456/user/avatar/update",{id:this.form.id, image:f},function(data){
					        data = JSON.parse(data);
					        console.log(data)
					        if(data.code == 0) {
						        imgUrl = data.data.url;
						        _self.$message({
									type: 'success',
									message: '提交成功！'
								});	
					        } else {
					      		alert('上传图片出错！');
					        }
					    });
					    */
						//form.ajaxSubmit(options);
					}
				},
				mounted: function() {
					var _self = this;
					this.id = localStorage.getItem("account");
					$.get('http://106.14.139.129:3456/user/get?id='+localStorage.getItem("account"), function(data, status) {
						ans = JSON.parse(data);
						if(ans.code == 0) {
							console.log(ans)
							_self.rawData = ans.data[0];
							_self.form.id = _self.rawData.id;
							_self.form.createtime = _self.rawData.createtime;
							_self.form.email = _self.rawData.email;
							_self.form.qq = _self.rawData.qq;
							_self.form.wx = _self.rawData.wx;
							_self.form.signal = _self.rawData.signal;	
							_self.form.img = _self.rawData.img;	
						}
					});
				}

			});
			
			//切换图像
			function changepic() {
				var reads = new FileReader();
				f = document.getElementById('file').files[0];
				reads.readAsDataURL(f);
				reads.onload = function(e) {
					document.getElementById('img3').src = this.result;
					//$("#img3").css("display", "block");
					$("#img3").css("width", "150px");
					$("#img3").css("height", "150px");
					$("#img3").css("border", "solid rgb(230,230,230) 1px");
				};
			}
		</script>

		<script>
			// 图片上传：  https://www.jb51.net/article/136690.htm
			// https://www.cnblogs.com/chyingp/p/express-multer-file-upload.html
		</script>

	</body>

</html>