<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Home</title>
		<!-- Bootstrap Styles-->
		<link href="assets/css/bootstrap.css" rel="stylesheet" />
		<!-- FontAwesome Styles-->
		<link href="assets/css/font-awesome.css" rel="stylesheet" />
		<!-- Morris Chart Styles
    <link href="assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    -->
		<!-- Custom Styles-->
		<link href="assets/css/custom-styles.css" rel="stylesheet" />
		<!-- Google Fonts
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' /> 
    -->
		<style type="text/css">
			#graph1,
			#graph2,
			#graph3 {
				padding-top: 20px;
				width: 100%;
				height: 400px;
				margin: 10px;
				display: inline-block;
			}
			
			#graph4 {
				padding-top: 20px;
				width: 100%;
				height: 400px;
				margin: 10px;
				display: inline-block;
			}
			
			.my_li_class {
				list-style: none;
				font-size: 16px;
				margin: 3px;
			}
			
			.my_li_class:hover {
				color: #008ACD;
				font-weight: 700;
				animation: ease-in 1s;
			}
			
			body th td {
				/*color: rgba(0,0,0,0.54);
			    width:100%;*/
			}
			
			.list_result td {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		</style>
	</head>

	<body>
		<div id="wrapper">
			<nav class="navbar navbar-default top-navbar" role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
					<a class="navbar-brand" href="index.html"><i class="fa fa-gear"></i> <strong>智能小吴后台系统</strong></a>
				</div>

				<ul class="nav navbar-top-links navbar-right">
					<!--
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> 新消息
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> 消息发送
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i> 新的任务
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> 服务器重启
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>查看所有消息</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </li>
                -->
					<!-- /.dropdown -->
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
							<i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
						</a>
						<ul class="dropdown-menu dropdown-user">
							<li>
								<a href="#"><i class="fa fa-user fa-fw"></i> 操作者概况</a>
							</li>
							<li>
								<a href="#"><i class="fa fa-gear fa-fw"></i> 设置</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="javascript:void(0);" onclick="localStorage.setItem('account',null); window.location.href = './login.html'"><i class="fa fa-sign-out fa-fw"></i> 登出</a>
							</li>
						</ul>
						<!-- /.dropdown-user -->
					</li>
					<!-- /.dropdown -->
				</ul>

			</nav>
			<!--/. NAV TOP  -->
			<nav class="navbar-default navbar-side" role="navigation">
				<div id="sideNav" href=""><i class="fa fa-caret-right"></i></div>
				<div class="sidebar-collapse">
					<ul class="nav" id="main-menu">
						<li>
							<a href="#"></a>
						</li>
						<li>
							<a class="active-menu" href="index.html"><i class="fa fa-dashboard"></i> 用户数据分析</a>
						</li>
						<li>
							<a href="stdquestions.html"><i class="fa fa-edit"></i> 查看标准问题及答案</a>
						</li>
						<li>
							<a href="dialoghistory.html"><i class="fa fa-users"></i> 查看用户对话记录</a>
							<li>
								<a href="comquestion.html"><i class="fa fa-question"></i> 常见问题与解答</a>
							</li>
							<!--<li><a href="chart.html"><i class="fa fa-bar-chart-o"></i> Charts</a></li>
                    <li><a href="tab-panel.html"><i class="fa fa-qrcode"></i> Tabs & Panels</a></li>
                    <li><a href="table.html"><i class="fa fa-table"></i> Responsive Tables</a></li>
                    <li><a href="form.html"><i class="fa fa-edit"></i> Forms </a></li>
                    <li>
                        <a href="#"><i class="fa fa-sitemap"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">Second Level Link</a>
                            </li>
                            <li>
                                <a href="#">Second Level Link</a>
                            </li>
                            <li>
                                <a href="#">Second Level Link<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>

                                </ul>

                            </li>
                        </ul>
                    </li>
                    <li><a href="empty.html"><i class="fa fa-fw fa-file"></i> Empty Page</a></li>
                    -->
					</ul>
				</div>
			</nav>
			<!-- /. NAV SIDE  -->
			<div id="page-wrapper">
				<div id="page-inner">

					<div class="row">
						<div class="col-md-12">
							<h1 class="page-header">
                        	查看用户对话记录 <small> <br>查看所有用户参与的的对话记录</small>
                        </h1>
						</div>
					</div>
					<!-- /. ROW  -->

					<div class="row">
						<div class="col-md-12">
							<!-- Advanced Tables -->
							<div class="panel panel-default">
								<div class="panel-heading">
									用户对话记录表
								</div>
								<div class="panel-body">
									<div style="margin-top: -20px; margin-bottom: 10px;">
										<h4 style="display: inline-block;">操作：</h4>
										<button class="badge" style="display: inline-block; border: none; padding: 8px; font-size: 15px; margin: auto;" @click="delEvent">&nbsp;&nbsp;删除&nbsp;&nbsp;</button>
									</div>
									<div class="table-responsive">
										<table id="dataTables-example" class="table table-striped table-bordered table-hover" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
											<thead>
												<tr>
													<!--<th style="width: 2%;"></th>-->
													<th style="width: 6%;">编号</th>
													<th style="width: 6%;">用户编号</th>
													<th style="width: 14%;">询问时间</th>
													<th style="width: 30%;">问题</th>
													<th style="width: 30%;">回答答案</th>
													<th style="width: 14%;">回答状态</th>
												</tr>
											</thead>
											<!--<td style="width: 2%;"><input type="checkbox" :value="index" v-model="chooselist" /></td>-->
											<!-- :class="{'even':iseven, 'odd':isodd}">-->
											<tbody>
												<tr class="gradeX" v-for="(item,index) in qlist">
													<td>{{item.id}}</td>
													<td>{{item.userid | strfilter(13)}}</td>
													<td>{{item.time | timeformat}}</td>
													<td>{{item.question | strfilter(20)}}</td>
													<td>{{item.answer | strfilter(20)}}</td>
													<td>{{answerStatus[item.flag]}}</td>
												</tr>
											</tbody>
											<!---->
										</table>
									</div>

								</div>
							</div>
							<!--End Advanced Tables -->
						</div>
					</div>

					<footer>
						<p>Copyright &copy; 2019.智能小吴开发团队<br/>All rights reserved.</p>
					</footer>
				</div>
				<!-- /. PAGE INNER  -->
			</div>
			<!-- /. PAGE WRAPPER  -->
		</div>
		<!-- /. WRAPPER  -->
		<!-- JS Scripts-->
		<!-- Vue.js -->
		<script src="assets/js/vue-2.4.0.js"></script>
		<!-- jQuery Js -->
		<script src="assets/js/jquery-1.10.2.js"></script>
		<!-- Bootstrap Js -->
		<script src="assets/js/bootstrap.min.js"></script>
		<!-- Metis Menu Js -->
		<script src="assets/js/jquery.metisMenu.js"></script>
		<!-- DATA TABLE SCRIPTS -->
		<script src="assets/js/dataTables/jquery.dataTables.js"></script>
		<script src="assets/js/dataTables/dataTables.bootstrap.js"></script>
		<!-- Custom Js -->
		<script src="assets/js/custom-scripts.js"></script>
		<script>
			function page_init() {
				if(localStorage.getItem("account") == null || localStorage.getItem("account") == "null") {
					alert("您尚未登录系统，请先登录系统再对系统进行操作！")
					window.location.href = "./login.html";
				}
			}
			//★  page_init();

			//通过vue，实现data数据的绑定
			var tbapp = new Vue({
				el: '#wrapper',
				data: {
					qlist: [],
					answerStatus: ['由微信发往服务器，暂未回答', '由微信发往服务器，暂未回答',
						'由微信发往服务器，暂未回答', 'python第一步完全匹配给出了答案',
						'python匹配相似度大于阈值给出答案', 'min小于python匹配相似度小于max',
						'python', 'python直接根据questionid给出回答', '人工回答'
					],
					chooselist: [],
					tb: []
				},
				filters: {
					strfilter: function(str, len) {
						if(str != null && str.length > len) {
							str = str.substr(0, len) + "......";
						}
						return str;
					},
					timeformat: function(str) {
						str = new String(str);
						var s = str.split("T"),
							s1, s2;
						//s1 = s[0], s2 = ", "+s[1].substr(0,8);
						//return s1.concat(s2);
						return s[0];
					}
				},
				methods: {
					getList: function() {
						//通过ajax，返回数据库当中的所有问题
						var _self = this;
						$.get('http://106.14.139.129:3456/dialog/select', function(data, status) {
							ans = JSON.parse(data);
							if(ans.code == 0) {
								_self.qlist = ans.data;
							}
						})
					},
					delEvent: function() {
						var brr;
						this.chooselist = this.chooselist.sort();
						console.log(this.qlist)
						for(var i = this.chooselist.length - 1; i >= 0; i--) {
							console.log(this.chooselist[i])
							brr = this.qlist.splice(this.chooselist[i], 1);
						}
						console.log(this.qlist)
						this.chooselist = [];
						//alert("选择")
					}
				},
				beforeCreate: function() {

				},
				mounted: function() {
					this.getList();
					/*
					$(document).ready(function() {
						$('#dataTables-example').DataTable( {
					        "processing": true,
					        "serverSide": true,
					        "ajax": "http://106.14.139.129:3456/dialog/select"
					    } );
					});
					*/
				},
				updated: function() {
					//当页面加载完成之后，会执行这个函数
					$('#dataTables-example').dataTable({
						"paging": true, // 开启分页
						"pageLength": 10, //每页显示数量
						"lengthChange": true, //是否允许用户改变表格每页显示的记录数
						"searching": true, //搜索
						"ordering": true, //排序
						"info": true, //左下角 从 1 到 5 /共 23 条数据
						"autoWidth": true,
						// "scrollX": "100%",//表格的宽度
						// "scrollY": "200px",//表格的高度
						"scrollXInner": "100%", //表格的内容宽度
						// "bScrollCollapse":true,//当显示的数据不足以支撑表格的默认的高度时，依然显示纵向的滚动条。(默认是false) 
						"aaSorting": [
							[1, 'asc']
						],
						"language": {
							"sInfoEmpty": "没有数据",
							"sZeroRecords": "没有查找到满足条件的数据",
							"sInfo": "[第 _START_ 页] 到 [第 _END_ 页]， 共 _TOTAL_ 条数据",
							"sLengthMenu": "每页显示记录条数： _MENU_ ",
							"sInfoFiltered": "(从 _MAX_ 条数据中检索)",
							"sSearch": "搜索：",
							"oPaginate": {
								"sFirst": "首页",
								"sPrevious": "前一页",
								"sNext": "后一页",
								"sLast": "尾页"
							}
						}
					});
					document.getElementById('dataTables-example_filter').style = "float: right";
					document.getElementById('dataTables-example_paginate').style = "float: right";
					//参考资料：https://www.cnblogs.com/amoniyibeizi/p/4548111.html

					//this.tb.fnClearTable();
					//this.tb.dataTable();
					/*
						
					tb.rows.add(this.qlist);
					//$('#dataTables-example').dataTable().fnClearTable();
					//$('#dataTables-example').dataTable().fnAddData(this.qlist);
					//$('#_datatable').dataTable(options).css({"word-break":'keep-all',"white-space":'nowrap',"overflow":'hidden',"text-overflow":'ellipsis'});
*/
				},
				watch: {

				}
			});
		</script>

		<script>
			//警告的话先忽略掉，看一下删除功能能不能用，能用的话再想着把警告功能给去掉！
		</script>

	</body>

</html>